__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
gem/
pip-selfcheck.json

.idea/
.vscode/

.env
*.session
*.session-journal
session_name.*

/histories/
/instructions/
/downloads/
/images/
/generated_files/
/logs/

*.swp
*.swo
permissions.json
.lang